<form action="/signup" method="post">
  <label for="email">
    <p> Email: <input type="text" name="email"> </p>
  </label>
  <label for="password">
    <p> Password: <input type="password" name="password"> </p>
  </label>
  <label for="confirm">
    <p> Confirm Password: <input type="password" name="confirm"> </p>
  </label>
  <input type="submit" value="Sign up"> </p>
</form>
