

<form action="/create" method="post">
  <label for="title">
    <p> Title: <input type="text" name="title"> </p>
  </label>
  <label for="url">
    <p> URL: <input type="text" name="url"> </p>
  </label>
  <label for="tags">
    <p> Tag: <input type="text" name="tags"> </p>
  </label>
  <input type="submit" value="Submit"> </p>
</form>
